<% include chunks/head %>
<% include chunks/nav_bar %>
<% include chunks/StuInfo %>


<a href="/addEvent">Add an event</a>
<div id ="calendarHeading">
    <h1><%=calendarMonth %></h1>
</div>
<table>
    <tr>
        <th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th>
    </tr>
    
    <tr>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[0] %>"> <%= month[0] %>  </a> </li> <% events[0].forEach(function(event) { %>  <li>  <%= event.name %>   </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[1] %>"> <%= month[1] %> </a>  </li> <% events[1].forEach(function(event) { %>  <li> <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[2] %>"> <%= month[2] %>  </a> </li> <% events[2].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[3] %>"> <%= month[3] %>  </a> </li> <% events[3].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[4] %>"> <%= month[4] %> </a>  </li> <% events[4].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[5] %>"> <%= month[5] %>  </a> </li> <% events[5].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[6] %>"> <%= month[6] %>  </a> </li> <% events[6].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[7] %>"> <%= month[7] %>  </a> </li> <% events[7].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[8] %>"> <%= month[8] %>  </a> </li> <% events[8].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[9] %>"> <%= month[9] %>  </a> </li> <% events[9].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[10] %>"> <%= month[10] %>  </a> </li> <% events[10].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[11] %>"> <%= month[11] %>  </a> </li> <% events[11].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[12] %>"> <%= month[12] %>  </a> </li> <% events[12].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li> <a href="/calendar/<%= month[13] %>"> <%= month[13] %>  </a> </li> <% events[13].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[14] %>"> <%= month[14] %>  </a> </li> <% events[14].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[15] %>"> <%= month[15] %>  </a> </li> <% events[15].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[16] %>"> <%= month[16] %>  </a> </li> <% events[16].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[17] %>"> <%= month[17] %>  </a> </li> <% events[17].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[18] %>"> <%= month[18] %> </a>  </li> <% events[18].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[19] %>"> <%= month[19] %>  </a> </li> <% events[19].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[20] %>"> <%= month[20] %>  </a> </li> <% events[20].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[21] %>"> <%= month[21] %>  </a> </li> <% events[21].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[22] %>"> <%= month[22] %>  </a> </li> <% events[22].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[23] %>"> <%= month[23] %>  </a> </li> <% events[23].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[24] %>"> <%= month[24] %>  </a> </li> <% events[24].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[25] %>"> <%= month[25] %> </a>  </li> <% events[25].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[26] %>"> <%= month[26] %> </a>  </li> <% events[26].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[27] %>"> <%= month[27] %>  </a> </li> <% events[27].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[28] %>"> <%= month[28] %>  </a> </li> <% events[28].forEach(function(event) { %>  <li>  <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[29] %>"> <%= month[29] %>  </a> </li> <% events[29].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[30] %>"> <%= month[30] %>  </a> </li> <% events[30].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[31] %>"> <%= month[31] %>  </a> </li> <% events[31].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[32] %>"> <%= month[32] %>  </a> </li> <% events[32].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[33] %>"> <%= month[33] %>  </a> </li> <% events[33].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[34] %>"> <%= month[34] %> </a>  </li> <% events[34].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
    </tr>
    <%if (month[35] != ""){ %>
        <tr>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[35] %>"> <%= month[35] %>  </a> </li> <% events[35].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[36] %>"> <%= month[36] %>  </a> </li> <% events[36].forEach(function(event) { %>  <li>  <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[37] %>"> <%= month[37] %>  </a> </li> <% events[37].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[38] %>"> <%= month[38] %>  </a> </li> <% events[38].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[39] %>"> <%= month[39] %> </a> </li> <% events[39].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[40] %>"> <%= month[40] %> </a> </li> <% events[40].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li> <a href="/calendar/<%= month[41] %>"> <%= month[41] %> </a> </li> <% events[41].forEach(function(event) { %>  <li>  <%= event.name %>  </li> <% }); %> </ul></div></td>
        </tr>
    <% } %>
</table>


<% include chunks/foot %>