<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>

<a href="/addEvent">Add an event</a>
<div id ="calendarHeading">
    <h1><%=calendarMonth %></h1>
</div>
<table>
    <tr>
        <th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th>
    </tr>
    
    <tr>
        <td><div class="date"> <ul> <li><%= month[0] %> </li> <% events[0].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[1] %> </li> <% events[1].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[2] %> </li> <% events[2].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[3] %> </li> <% events[3].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[4] %> </li> <% events[4].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[5] %> </li> <% events[5].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[6] %> </li> <% events[6].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date">  <ul> <li><%= month[7] %> </li> <% events[7].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li><%= month[8] %> </li> <% events[8].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li><%= month[9] %> </li> <% events[9].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li><%= month[10] %> </li> <% events[10].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li><%= month[11] %> </li> <% events[11].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li><%= month[12] %> </li> <% events[12].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date">  <ul> <li><%= month[13] %> </li> <% events[13].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date"> <ul> <li><%= month[14] %> </li> <% events[14].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[15] %> </li> <% events[15].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[16] %> </li> <% events[16].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[17] %> </li> <% events[17].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[18] %> </li> <% events[18].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[19] %> </li> <% events[19].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[20] %> </li> <% events[20].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date"> <ul> <li><%= month[21] %> </li> <% events[21].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[22] %> </li> <% events[22].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[23] %> </li> <% events[23].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[24] %> </li> <% events[24].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[25] %> </li> <% events[25].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[26] %> </li> <% events[26].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[27] %> </li> <% events[27].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
    </tr>
    <tr>
        <td><div class="date"> <ul> <li><%= month[28] %> </li> <% events[28].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[29] %> </li> <% events[29].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[30] %> </li> <% events[30].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[31] %> </li> <% events[31].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[32] %> </li> <% events[32].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[33] %> </li> <% events[33].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        <td><div class="date"> <ul> <li><%= month[34] %> </li> <% events[34].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
    </tr>
    <%if (month[35] != ""){ %>
        <tr>
            <td><div class="date"> <ul> <li><%= month[35] %> </li> <% events[35].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li><%= month[36] %> </li> <% events[36].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li><%= month[37] %> </li> <% events[37].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li><%= month[38] %> </li> <% events[38].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li><%= month[39] %> </li> <% events[39].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li><%= month[40] %> </li> <% events[40].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
            <td><div class="date"> <ul> <li><%= month[41] %> </li> <% events[41].forEach(function(event) { %>  <li> <%= event.name %> </li> <% }); %> </ul></div></td>
        </tr>
    <% } %>
</table>


<% include chunks/foot %>